<table class="table mb-0">
  <thead>
    <tr>
      <th>
        
      </th>
      <th>Item</th>
      <th>Item Type</th>
      <th>Provider</th>
      <th>Vendor</th>
      <th>Qty</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      	<a [routerLink]="['/geodis-items', product.id]">
          {{ product.itemName }}
        </a>
      </td>
      <td>{{ product.itemType }}</td>
      <td>{{ product.provider }}</td>
      <td>{{ product.vendor }}</td>
      <td>{{ product.qty }}</td>
      <td>
        
      </td>
    </tr>
  </tbody>
  <tfoot>
  	<button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </tfoot>
 </table>