<h1>{{title}}</h1>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/welcome" routerLinkActive="active">Welcome</a>
    <a class="nav-item nav-link" routerLink="/europe" routerLinkActive="active">Europe</a>
    <a class="nav-item nav-link" routerLink="/asia" routerLinkActive="active">Asia</a>
    <a class="nav-item nav-link" routerLink="/africa" routerLinkActive="active">Africa</a>
    <a class="nav-item nav-link" routerLink="/oceania" routerLinkActive="active">Oceania</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container bg-light">
  <router-outlet></router-outlet>
</div>
