$jw-black: #000;
$jw-orange: #ffa500;
$jw-color-mostly-transparent: rgba(0, 0, 0, 0.1);

$jinwang-color-black-medium-base: #000;
$jinwang-color-brightgrey-medium-base: #eaeaea;
$jinwang-color-gray-medium-base: #808080;
$jinwang-color-gray-light-base: #c0c0c0;
$jinwang-color-red-light-selected: #fcb9c1;
$jinwang-color-red-warning: #dc3545;
$jinwang-color-white-light-base: #d8d8d8;
$jinwang-color-blue-medium-base: #054c70;
$jinwang-color-orange-medium-base: #054c70;
