h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 5px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

div {
  margin: 1rem auto;
  width: 90%
}
.special {
  background-color: #1976d2;
  color: #fff;
  padding: 1rem;
}

@import '../pages.component.scss';

$white-colored-line: #d8d8d8;

body html {
  height: 100%;
}

.landing-vrt-line {
  border-left: 2px solid $white-colored-line;
  display: none;
}

.btn-light {
  color: $jinwang-color-blue-medium-base;
  font-size: 24px;
  font-weight: bold;
}

.btn-light:not(:disabled):not(.disabled):active {
  color: $jinwang-color-orange-medium-base;
}

.jinwang-blue-bckg {
  background-color: $jinwang-color-blue-medium-base;
}

.btn-group-vertical > input {
  border-radius: 10px;
}

.btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img-landing {
  padding-bottom: 18%;
  padding-top: 18%;
}
